<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>

    <div class="signup-box">
        <h1>Create Account</h1>

        <form id="signup-form">
            <div class="input-field">
                <input type="text" id="name" name="name" placeholder="Your Name" required>
                <br>
                <span class="error" name="name-error" id="name-error"></span>
            </div>

            <div class="input-field">
                <input type="email" id="email" name="email" placeholder="Your Email" required>
                <br>
                <span class="error" name="email-error" id="email-error"></span>
            </div>

            <div class="input-field">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <br>
                <span class="error" name="password-error" id="password-error"></span>
            </div>

            <div class="button-field">
                <button type="submit" name="signup-btn" id="signup-btn">Sign Up</button>
            </div>

        </form>
        <p>
            Have already an account?
            <a href="user/login">Login here</a>
        </p>
    </div>
<script src="/js/signup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>