/* css for header  */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: teal;
    padding: 10px;
    color: #fff;
}

#premium-user {
    display: none;
    margin-left: 55%;
    font-weight: bold;
    font-size: large;
    color: #FFDF29;

}

#logout-btn {
    border: none;
    margin-left: auto;
    border-radius: 4px;
    padding: 4px 10px;
}

#logout-btn:hover{
    color: teal;
    background-color: #FFDF29;

}


.logo {

    margin-left: 25px;
    font-size: 20px;
    font-family: cursive;
    letter-spacing: 2px;
}

.logo img{
    height: 40px;
}


/* css for navbar */
.navbar {

    display: flex;
    align-items:first baseline;
    justify-content: space-between;
    background-color: #f6f6f2;
    color: #fff;
    padding: 0%;
    
}

 li a{
    color: teal;
    font-size: larger;
    text-decoration: none;
}

a:hover{
   
    color:goldenrod;
}

a.active{
    color:goldenrod;
}

nav ul li{
    list-style: none;
    padding: 5px 15px;
}

nav ul li.active{
    border-bottom: 2px solid goldenrod; 
}

ul{
    display: flex;
    box-sizing: border-box;
    margin: auto;
    margin-left: 0px;
}

#add-expense-icon{
    width: 40px;
    height: 40px;
}

#leaderboard-icon{
    width: 40px;
    height: 40px;
}

#view-expense-icon{
    width: 40px;
    height: 40px;
}

#buy-premium-icon{
    width: 40px;
    height: 40px;
}